<!DOCTYPE html>
<html lang="en">
<head>
  <title>Inicio - Bruji Rifas</title>
  <%- include('plantilla/head'); %>
</head>
<body>
<script src="assets/js/preloader.js"></script>
  <div class="body-wrapper">
    <!-- partial:partials/_sidebar.html -->    
    
    <%- include('plantilla/menu'); %>    

    <!-- partial -->
    <div class="main-wrapper mdc-drawer-app-content">
      <!-- partial:partials/_navbar.html -->
      <header class="mdc-top-app-bar">
        <div class="mdc-top-app-bar__row">
          <div class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
            <button class="material-icons mdc-top-app-bar__navigation-icon mdc-icon-button sidebar-toggler">menu</button>
            <span class="mdc-top-app-bar__title"></span>
            <div class="mdc-text-field mdc-text-field--outlined mdc-text-field--with-leading-icon search-text-field d-none d-md-flex">
              <i class="material-icons mdc-text-field__icon">search</i>
              <input class="mdc-text-field__input" id="text-field-hero-input">
              <div class="mdc-notched-outline">
                <div class="mdc-notched-outline__leading"></div>
                <div class="mdc-notched-outline__notch">
                  <label for="text-field-hero-input" class="mdc-floating-label">Search..</label>
                </div>
                <div class="mdc-notched-outline__trailing"></div>
              </div>
            </div>
          </div>
          <div class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end mdc-top-app-bar__section-right">
            <div class="menu-button-container menu-profile d-none d-md-block">
              <!-- header -->
              <%- include('plantilla/header'); %>
            
            </div>
            
            
          </div>
      </header>
      <!-- partial -->
      <div class="page-wrapper mdc-toolbar-fixed-adjust">
        <main class="content-wrapper">


          <div class="mdc-layout-grid">
            <div class="mdc-layout-grid__inner">
              <div class="mdc-layout-grid__cell--span-12">
                <div class="mdc-card">
                  <h6 class="card-title">Inicio</h6>
                  
                  <div class="mdc-text-field">
                    <input class="mdc-text-field__input" id="text-field-hero-input" name="nombre">
                    <div class="mdc-line-ripple"></div>
                    <label for="text-field-hero-input" class="mdc-floating-label">Nombre</label>
                  </div>
                   <br>
                  <div class="mdc-text-field">
                    <input class="mdc-text-field__input" id="text-field-hero-input" name="apellido">
                    <div class="mdc-line-ripple"></div>
                    <label for="text-field-hero-input" class="mdc-floating-label">Apellido</label>
                  </div>
                  <br>
                  <div class="template-demo">
                    <button class="mdc-button mdc-button--raised filled-button--success">
                     Descargar <i class="material-icons">save</i>
                    </button>

                    <h1>Hola <i class="material-icons">save</i></h1>

              
                    
                    
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
          
        </main>
        <!-- partial:partials/_footer.html -->
        <%- include('plantilla/footer'); %>
        <!-- partial -->
      </div>
    </div>
  </div>
 
  <%- include('plantilla/filejs'); %>
 
</body>
</html>