<% layout('../layout') %>


    <div style="display: block;
margin-left: auto;
margin-right: auto;" class="mdc-layout-grid__cell stretch-card col-md-10 col-xxl-8 mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet">
        <div class="mdc-card p-0  to-do-list">
            <div class="align-items-center back__head text-white to-do-list-header">
                <div class="col-xs-6">
                    <h2 style="text-align: center;"><i class="material-icons">admin_panel_settings</i> Lista de <b>Usuarios de Sistema</b></h2>
                </div>
                <div class="row">
                    <div class="input-group mb-3">
                        <a href="/usuarios/add" class="btn btn__add btn-light btn__center__add  btn__add-white btn__add-animate"><span class="material-icons" style="color: black; vertical-align: -6px;">
        library_add
        </span> Agregar Usuario de Sistema</a>
                    </div>
                </div>
            </div>







            <div class="mdc-layout-grid__cell--span-4 mdc-layout-grid__cell--span-3-desktop stretch-card">

                <div class="table-responsive">
                    <table id="table_id" class="table table-hoverable" style="width:100%">


                        <thead>

                                <tr class="back__head">

                                    <th class="text-white text-center">Nombre de Usuario</th>
                                    <th class="text-white text-center">Empleado</th>
                                    <th class="text-white text-center">Rol</th>
                                    <th class="text-white text-center">Cargo</th>
                                    <th class="text-white text-center">Estado</th>
                                    <th class="text-white text-center">Acciones</th>
                                </tr>
                        </thead>
                        <tbody> 
                            <% usuarios.forEach(function(Usuario) {%>
                                <tr>
                                    <td class="text-center">
                                        <%= Usuario.nombre_usuario %>
                                    </td>
                                    <td class="text-center">
                                        <%= Usuario.nombre %>
                                    </td>
                                    <% if (Usuario.rol == 'admin') { %>
                                       
                                    <td class="text-center">
                                       Administrador
                                    </td>
                                <% } else{%>
                                     <td class="text-center">
                                        Maestro
                                     </td>
                                <% } %> 
                                   
                                    <td class="text-center">
                                        <%= Usuario.cargo %>
                                    </td>
                                    <% if (Usuario.estado === 1) { %>
                                        <td class="text-center">
                                            Activo
                                         </td>   
                                    <% } else{%>
                                        <td class="text-center">
                                        Desactivado
                                        </td>
                                    <% } %> 
                                    <td class="text-center">
                                        <a href="/usuarios/edit/<%= Usuario.id %>" class="mdc-button btn__edit__icon mdc-button--warning" data-toggle="tooltip" data-placement="top" title="Editar">
                                            <i class="material-icons">edit</i>
                                        </a>
                                        <a href="/usuarios/delete/<%= Usuario.id %>" class="mdc-button mdc-button--raised filled-button--danger" data-toggle="tooltip" data-placement="top" title="Eliminar">
                                            <i class="material-icons">delete</i>
                                        </a>
                                    </td>

                                </tr>


                                <%});  %>
                         
                        </tbody>
                    </table>
                </div>
            </div>
            <!--fin de lista-->
        </div>

        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <!--SCRIPT-->
        <% block('footerjs', `<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script> 
    
   <script>
    
    $(document).ready( function () {
    $('#table_id').DataTable({
        language: {
        "decimal": "",
        "emptyTable": "No hay información",
        "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
        "infoEmpty": "Mostrando 0 to 0 de 0 Entradas",
        "infoFiltered": "(Filtrado de _MAX_ total entradas)",
        "infoPostFix": "",
        "thousands": ",",
        "lengthMenu": "Mostrar _MENU_ Entradas",
        "loadingRecords": "Cargando...",
        "processing": "Procesando...",
        "search": "Buscar:",
        "zeroRecords": "Sin resultados encontrados",
        "paginate": {
            "first": "Primero",
            "last": "Ultimo",
            "next": "Siguiente",
            "previous": "Anterior"
        }
    },
    
    });
        } );
        $(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
     
           </script>`) 
   -%>