<% layout('../layout') %>
    <div style="display: block;
margin-left: auto;
margin-right: auto;" class="mdc-layout-grid__cell stretch-card col-md-10 col-xxl-11 mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet">

        <div class="mdc-layout-grid">
            <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell--span-4 mdc-layout-grid__cell--span-12-desktop stretch-card">
                    <div class="mdc-card p-0 to-do-list">
                        <div class="d-flex back__head text-white to-do-list-header">
                            <h4 class="card-title">Editar Boleto</h4>
                        </div>
                        <div class="mdc-card">
                            <form action="/boletos/edit/<%= boleto.id %>" method="POST">
                                <div class="template-demo">

                                    <div class="mdc-layout-grid__inner">
                                        <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop">
                                            <div class="mdc-text-field w-100">
                                                <input class="mdc-text-field__input" id="text-field-hero-input" name="num_inicial" value="<%= boleto.num_inicial %>" />
                                                <div class="mdc-line-ripple"></div>
                                                <label for="text-field-hero-input" class="mdc-floating-label">Número
                                        Inicial</label>
                                            </div>
                                        </div>
                                        <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop">
                                            <div class="mdc-text-field w-100">
                                                <input class="mdc-text-field__input" id="text-field-hero-input" name="num_final" value="<%= boleto.num_final %>" />
                                                <div class="mdc-line-ripple"></div>
                                                <label for="text-field-hero-input" class="mdc-floating-label">Número
                                        Final</label>
                                            </div>
                                        </div>
                                        <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop">
                                            <div class="mdc-text-field w-100">
                                                <input class="mdc-text-field__input" id="text-field-hero-input" name="precio" value="<%= boleto.precio.toFixed(2) %>" />
                                                <div class="mdc-line-ripple"></div>
                                                <label for="text-field-hero-input" class="mdc-floating-label">Precio</label>
                                            </div>
                                        </div>

                                        <div class="mdc-layout-grid__inner mdc-layout-grid__cell--span-6-desktop">
                                            <div class="mdc-layout-grid__cell stretch-card< mdc-layout-grid__cell--span-12-desktop">
                                                <div class="mdc-text-field mdc-text-field--outlined">
                                                    <select class="codigos mdc-text-field__input" name="id_rifa">
                                            <option value="<%= boleto.id %>"><%= boleto.codigo_rifa%></option>
                                        </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-desktop">
                                            <div class="template-demo">
                                                <button type="submit" class="mdc-button mdc-button--unelevated">
                                        <i class="material-icons">refresh</i>&nbsp;Guardar
                                    </button>
                                                <button type="reset" class="mdc-button mdc-button--warning">
                                        <i class="material-icons">cancel</i>&nbsp;Cancelar
                                    </button>
                                                <a class="mdc-button mdc-button--unelevated filled-button--success" href='/boletos'><i
                                            class="material-icons">arrow_back</i>&nbsp;Volver
                                    </a>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>


    <!--SCRIPT-->
    <% block('footerjs', `<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
  <script>
  $(document).ready(function() {    
    //funcion para llamar los municipios
    $('.codigos').select2({  
        language: {

            noResults: function() {

            return "No hay resultado";        
            },
            searching: function() {

            return "Buscando..";
            }
            },
      placeholder: "Selecione el codigo de la rifa",    
         
      width: '100%',      
      ajax: {        
        url: '/rifas/list',        
        dataType: 'json',                  
        data: function (params) {          
          return {            
            q: params.term,             
            page: params.page          
          };        
        },        
        processResults: function (data, params) {          
        return {            
            results: data,          
        };        
        },        
        cache: true             
        }    
      });
      });
       </script>`) 
  -%>