<% layout('../layout') -%>
    <div style="display: block;
margin-left: auto;
margin-right: auto;" class="mdc-layout-grid__cell stretch-card col-md-12 col-xxl-10 mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet">
        <div class="mdc-card p-0  to-do-list">
            <div class="align-items-center back__head text-white to-do-list-header">
                <div class="col-xs-6">
                    <h2 style="text-align: center;"><i class="material-icons">card_giftcard</i> Lista de <b>
                        Rifas
                    </b></h2>
                </div>
                <div class="row">
                    <div class="input-group mb-3">
                        <a href="/rifas/add" class="btn btn__add btn-light btn__center__add  btn__add-white btn__add-animate"><span class="material-icons" style="vertical-align: -6px; color: black;">
                                library_add
                                </span> Agregar Rifa</a>
                    </div>
                </div>
            </div>







            <div class="mdc-layout-grid__cell--span-4 mdc-layout-grid__cell--span-3-desktop stretch-card">

                <div class="table-responsive">
                    <table id="table_id" class="table table-hoverable" style="width:100%">


                        <thead>
                            <% i = 1; %>
                                <tr class="back__head">
                                    <th class="text-white">Código</th>
                                    <th class="text-white text-left">Nombre</th>
                                    <th class="text-white text-left">Descripción</th>
                                    <th class="text-white text-center">Fecha Registro</th>
                                    <th class="text-white text-center">Fecha Inicio</th>
                                    <th class="text-white text-center">Fecha Fin</th>

                                    <th class="text-white text-center">Producto</th>
                                    <th class="text-white text-center">Días Límite Retiro</th>

                                    <th class="text-white text-center">Acciones</th>
                                </tr>
                        </thead>
                        <tbody>
                            <% rifas.forEach(function(rifa) { %>
                                <tr>
                                    <td class="text-center">
                                        <%= rifa.codigo_rifa %>
                                    </td>
                                    <td class="text-left">
                                        <%= rifa.nombre %>
                                    </td>
                                    <td class="text-left">
                                        <%= rifa.descripcion %>
                                    </td>
                                    <td class="text-center">
                                        <%= moment( rifa.fecha_registro).format('DD/MM/YYYY')  %>

                                    </td>
                                    <td class="text-center">
                                        <%= moment( rifa.fecha_inicio).format('DD/MM/YYYY')  %>

                                    </td>
                                    <td class="text-center">
                                        <%= moment( rifa.fecha_fin).format('DD/MM/YYYY')  %>

                                    </td>


                                    <td class="text-center">
                                        <%= rifa.nombre_producto %>
                                    </td>
                                    <td class="text-center">
                                        <%= rifa.dias_limite_retiro %>
                                    </td>

                                    <td class="text-center">
                                        <a href="/rifas/edit/<%= rifa.codigo_rifa %>" class="mdc-button btn__edit__icon mdc-button--warning" data-toggle="tooltip" data-placement="top" title="Editar">
                                            <i class="material-icons">edit</i>
                                        </a>
                                        <a href="/rifas/delete/<%= rifa.codigo_rifa %>" class="mdc-button mdc-button--raised filled-button--secondary" data-toggle="tooltip" data-placement="top" title="Eliminar">
                                            <i class="material-icons">delete</i>
                                        </a>
                                    </td>
                                </tr>
                                <% i++}); %>
                        </tbody>
                    </table>
                </div>
            </div>
            <!--fin de lista-->
        </div>
    </div>

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!--SCRIPT-->
    <% block('footerjs', `<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script> 
    
   <script>
    $(document).ready( function () {
    $('#table_id').DataTable({
        language: {
        "decimal": "",
        "emptyTable": "No hay información",
        "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
        "infoEmpty": "Mostrando 0 to 0 de 0 Entradas",
        "infoFiltered": "(Filtrado de _MAX_ total entradas)",
        "infoPostFix": "",
        "thousands": ",",
        "lengthMenu": "Mostrar _MENU_ Entradas",
        "loadingRecords": "Cargando...",
        "processing": "Procesando...",
        "search": "Buscar:",
        "zeroRecords": "Sin resultados encontrados",
        "paginate": {
            "first": "Primero",
            "last": "Ultimo",
            "next": "Siguiente",
            "previous": "Anterior"
        }
    },
    
    });
        } );
        $(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
           </script>`) 
   -%>


        <script>
            '<% if(message.length > 0 && message == "Guardado con éxito") { %>'
            //console.log('<%= message %>')
            const Toast = Swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 3000,
                timerProgressBar: true,
                width: '20rem',

                didOpen: (toast) => {
                    toast.addEventListener('mouseenter', Swal.stopTimer)
                    toast.addEventListener('mouseleave', Swal.resumeTimer)
                }
            })

            Toast.fire({
                icon: 'success',
                title: '<%= message %>'
            })

            '<% } else if (message.length > 0 && message == "Ocurrió un error inesperado") {%>'
            const Toast = Swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 3000,
                timerProgressBar: true,
                didOpen: (toast) => {
                    toast.addEventListener('mouseenter', Swal.stopTimer)
                    toast.addEventListener('mouseleave', Swal.resumeTimer)
                }
            })

            Toast.fire({
                icon: 'error',
                title: '<%= message %>'
            })
            '<% } %>'
        </script>