<% layout('../layout') -%>
<div class="mdc-layout-grid">
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell--span-4 mdc-layout-grid__cell--span-12-desktop stretch-card">
      <div class="mdc-card p-0 to-do-list">
        <div class="d-flex bg-primary text-white to-do-list-header">
          <h2><i class="material-icons">person_add</i> Edición de Clientes</h2>
        </div>
        <div class="mdc-card">
        
        <hr />
        <form action="/clientes/edit/<%= cliente.id %>" method="POST">
          <div class="mdc-layout-grid__inner">
            <div
              class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop"
            >
            
              <div class="mdc-text-field mdc-text-field--outlined">
                <input
                  class="mdc-text-field__input masked"
                  name="nombres"
                  value="<%= cliente.nombres %>"
                />
                <div class="mdc-notched-outline">
                  <div class="mdc-notched-outline__leading"></div>
                  <div class="mdc-notched-outline__notch">
                    <label
                      for="text-field-hero-input"
                      class="mdc-floating-label"
                      >Nombres</label
                    >
                  </div>
                  <div class="mdc-notched-outline__trailing"></div>
                </div>
              </div>
            </div>

            <div
              class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop"
            >
              <div class="mdc-text-field mdc-text-field--outlined">
                <input
                  class="mdc-text-field__input"
                  name="apellidos"
                  value="<%= cliente.apellidos %>"
                />
                <div class="mdc-notched-outline">
                  <div class="mdc-notched-outline__leading"></div>
                  <div class="mdc-notched-outline__notch">
                    <label
                      for="text-field-hero-input"
                      class="mdc-floating-label"
                      >Apellidos</label
                    >
                  </div>
                  <div class="mdc-notched-outline__trailing"></div>
                </div>
              </div>
            </div>
          </div>
          <br />
          <div class="mdc-layout-grid__inner">
            <div
              class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-3-desktop"
            >
              <div class="mdc-text-field mdc-text-field--outlined">
                <input
                  class="mdc-text-field__input"
                  type="date"
                  name="fecha_nac"
                  value="<%= cliente.fecha_nac.slice(0,10) %>"
                />
                <div class="mdc-notched-outline">
                  <div class="mdc-notched-outline__leading"></div>
                  <div class="mdc-notched-outline__notch">
                    <label
                      for="text-field-hero-input"
                      class="mdc-floating-label"
                      >Fecha de Nacimiento</label
                    >
                  </div>
                  <div class="mdc-notched-outline__trailing"></div>
                </div>
              </div>
            </div>

            <div
              class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-3-desktop"
            >
              <div class="mdc-text-field mdc-text-field--outlined">
                <input class="mdc-text-field__input" value="<%= cliente.DUI %>" name="DUI" />
                <div class="mdc-notched-outline">
                  <div class="mdc-notched-outline__leading"></div>
                  <div class="mdc-notched-outline__notch">
                    <label
                      for="text-field-hero-input"
                      class="mdc-floating-label"
                      >DUI</label
                    >
                  </div>
                  <div class="mdc-notched-outline__trailing"></div>
                </div>
              </div>
            </div>

            <div
              class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-3-desktop"
            >
              <div class="mdc-text-field mdc-text-field--outlined">
                <input class="mdc-text-field__input" value="<%= cliente.telefono %>" name="telefono" />
                <div class="mdc-notched-outline">
                  <div class="mdc-notched-outline__leading"></div>
                  <div class="mdc-notched-outline__notch">
                    <label
                      for="text-field-hero-input"
                      class="mdc-floating-label"
                      >Teléfono</label
                    >
                  </div>
                  <div class="mdc-notched-outline__trailing"></div>
                </div>
              </div>
            </div>
            <div
              class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-3-desktop"
            >
              <div class="mdc-text-field mdc-text-field--outlined">
                <input class="mdc-text-field__input" value="<%= cliente.celular %>" name="celular" />
                <div class="mdc-notched-outline">
                  <div class="mdc-notched-outline__leading"></div>
                  <div class="mdc-notched-outline__notch">
                    <label
                      for="text-field-hero-input"
                      class="mdc-floating-label"
                      >Celular</label
                    >
                  </div>
                  <div class="mdc-notched-outline__trailing"></div>
                </div>
              </div>
            </div>
          </div>
          <br />
          <div class="mdc-layout-grid__inner">
            <div
              class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-3-desktop"
            >
              <div
                class="mdc-select demo-width-class"
                data-mdc-auto-init="MDCSelect"
              >
                <input type="hidden" name="enhanced-select" />
                <i class="mdc-select__dropdown-icon"></i>
                <div class="mdc-select__selected-text"></div>
                <div class="mdc-select__menu mdc-menu-surface demo-width-class">
                  <ul class="mdc-list">
                    <li
                      class="mdc-list-item mdc-list-item--selected"
                      data-value=""
                      aria-selected="true"
                    ></li>
                    <li class="mdc-list-item" data-value="1">Chalatenango</li>
                    <li class="mdc-list-item" data-value="2">El Paraiso</li>
                    <li class="mdc-list-item" data-value="3">Santa Rita</li>
                  </ul>
                </div>
                <span class="mdc-floating-label">Municipio</span>
                <div class="mdc-line-ripple"></div>
              </div>
            </div>

            <div
              class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-9-desktop"
            >
              <div class="mdc-text-field mdc-text-field--outlined">
                <input class="mdc-text-field__input" name="direccion" value="<%= cliente.direccion %>" />
                <div class="mdc-notched-outline">
                  <div class="mdc-notched-outline__leading"></div>
                  <div class="mdc-notched-outline__notch">
                    <label
                      for="text-field-hero-input"
                      class="mdc-floating-label"
                      >Direccion</label
                    >
                  </div>
                  <div class="mdc-notched-outline__trailing"></div>
                </div>
              </div>
            </div>
          </div>

          <br /><br />
          <button type="submit" class="mdc-button mdc-button--raised">
            <i class="material-icons">refresh</i> Guardar Cambios
          </button>

          <button type="reset" class="mdc-button mdc-button--raised filled-button--info">
            <i class="material-icons">cancel</i> Cancelar 
          </button>

          
        </form>
      </div>
    </div>
  </div>
</div>
